* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 156px;
  margin-bottom: 272px;
}
.heading {
  font-family: "inter";
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #101828;
}
.top-paragraph {
  margin-bottom: 48px;
}

.top-paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}

.first-last-name {
  display: flex;
  flex-direction: row;
}

.first,
.last {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
}

.input1,
.input2 {
  padding: 10px 14px;
  width: 348px;
  height: 44px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: rgba(16, 24, 40, 0.05);
  margin-bottom: 24px;
}
.last {
  margin-left: 24px;
}

.email {
  display: flex;
  flex-direction: column;
}
.email input {
  padding: 10px 14px;
  width: 720px;
  height: 44px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: rgba(16, 24, 40, 0.05);
  margin-bottom: 50px;
}

.message {
  display: flex;
  flex-direction: column;
}

.message input {
  padding: 12px 14px;
  width: 720px;
  height: 132px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin-bottom: 24px;
}

.check {
  display: flex;
  flex-direction: row;
}

.check p {
  margin-left: 12px;
}

.send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: 720px;
  height: 48px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.check-paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
}

.check {
  margin-bottom: 32px;
}

label {
  margin-bottom: 6px;
}

input:focus {
  outline-color: #1570ef;
}
