*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: #101828;

}

.profile-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 24px;
}
.camera{
    margin-top: 50px;
    filter:opacity(0);  
    }


.profile-section:hover .camera{
 filter: opacity(1);
}
.container header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image,.profile-section{
    position: relative;
    width: 88px;
    height: 88px;
    border-radius: 275px;
  
}

.image:hover{
 filter:brightness(50%);
 cursor: pointer;
}




.link-section{
    width: 1152px;
    height:72px;
    background-color: rgba(234, 236, 240, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-section a{
    text-decoration: none;
    color: #101828;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    
}


.camera{    
    position: absolute;
    width: 20px;
    height: 19px; 
}

.avatar,.three{
    position: relative;
    left:284px;
    top:44px;
    cursor: pointer;
}
.avatar:hover{
filter: brightness(75%);
}
.three{
    display: none;
    
}


.twitter-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 56px;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-section{
    margin-bottom: 24px;
}
.link-section:hover{
    background: #D0D5DD;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 136.55px;
}

.github{
    margin-left: 24px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    margin-left: 80px;
    margin-right: 80px;
    border-top:2px solid rgba(0, 0, 0, 0.179);
    padding-top: 36px;
    margin-bottom: 48px;
}



.hng{
    font-size: 16px;
    font-family: 'Inter';
}


@media screen and (max-width:375px){
  .twitter-name{
    font-size: 18px;
  }
  .link-section{
    width: 343px;
    height:68px;
  }
  .link{
    font-size: 14px;
  }
  .footer{
    flex-direction: column;
  }
  .zuri,.hng,.i4g{
    margin-bottom: 12px;
  }
  .three{
  
    display: block;
    top: 44px;
    Left: 150px;
  }
  .avatar{
    display: none;
  }
 }